body {
    background-color: rgb(226, 226, 226);
    background-image: url('../img/gabykral.png');
    background-size: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom
}

